.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 20em;
    background-color: #8B4513;
    border: none;
}

.cabecalho img {
    width: 200px;
}